body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30;
    background: #fffffe;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    width: 90%;
    max-width: 700px;
    background-color:rgb(255, 254, 232);
}

p {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    width: 90%;
    max-width: 600px;
    background-color:rgb(252, 254, 232);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    text-align: center;
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 30%; 
    align-items: center;
    font-family: consolas;
}

#app-container textarea { 
    height: 170px;
    width: 500px;
    font-size: 18px;
    font-family: consolas;
    border: 2px solid;
    border-radius: 10px;;
    margin-top: 20px;
    background-color:rgb(255, 239, 248);
}

#buttons-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

#buttons-container input {
    max-width: 155px;
    padding: 15px 30px;
    font-size: 14px;
    margin: 0px 20px;
    border-radius: 10px;
    background-color:rgb(249, 239, 248);
}

#buttons-container button {
    padding: 10px 20px; 
    font-size: 14px;
    margin: 0px 15px;
    border-radius: 10px;     
    background-color: #bac6fd;
}